<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand animated fadeInLeft">
            <img src="{{ asset('images/logo.png') }}" alt="logo" id="logoImage">
            <p>All images and trademarks of this site are property of 2AFirearms. Guns features and showcased on this
                site have no affiliation with 2AFirearms. </p>
            <p>© 2019 2AFirearms, all rights reserved.</p>
        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h4>Menu —</h4>
            {% if app.user %}
                <div class="col-md-6">
                    <ul class="pages">
                        <li><a href="{{ path('classroom') }}">The Classroom</a></li>
                        <li><a href="{{ path('contact') }}">Get In Touch</a></li>
                        <li><a href="{{ path('profile', {'id':app.user.getId()}) }}">My Profile</a></li>
                    </ul>
                </div>
            {% endif %}
            <div class="col-md-6">
                <ul class="list">
                    <li><a href="{{ path('about') }}">About Us</a></li>
                    <li><a href="{{ path('terms') }}">Terms & Condition</a></li>
                    <li><a href="{{ path('privacy') }}">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 footer-social animated fadeInDown">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a href="#"><i class="fa fa-rss-square"></i> RSS</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-ns animated fadeInRight">
            <h4>Newsletter</h4>
            <p>Get updates and promotions!</p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fa fa-envelope"></i></button>
                </div>
            </div>
        </div>
    </div>
</footer>