<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="{{ asset('images/logo.png') }}" alt="logo" id="logoImage">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-label="navigation bar toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if app.request.attributes.get('_route') == 'index' %}active{% endif %}">
                    <a class="nav-link" aria-label="Home" href="{{ path('index') }}">Home</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">
                    <a class="nav-link" aria-label="about us" href="{{ path('about') }}">About Us</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">
                    <a class="nav-link" aria-label="Contact Us" href="{{ path('contact') }}">Contact Us</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" aria-label="dropdown">
                            Welcome back, <strong>{{ app.user.getFirstName() }}</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-item">Signed in
                                as {{ app.user.getFullName() }}</div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('profile', {'id':app.user.getId()}) }}">Edit My
                                Profile</a>
                            <a class="dropdown-item" href="{{ path('classroom') }}">My Classes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Sign In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<nav aria-label="breadcrumb" class="darker-breadcrumb">
    <div class="container">
        <ol class="breadcrumb darker-breadcrumb">
            {% for crumb in breadcrumbs() %}
                {{ crumb | raw }}
            {% endfor %}
        </ol>
    </div>
</nav>