{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">{{ lesson.title|capitalize }}</h3>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    {{ lesson.post }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="progress mb-3 mt-3">
                        <div class="progress-bar progress-bar-striped" role="progressbar"
                             style="width: {{ id/10*100 }}%"
                             aria-valuenow="{{ id/10*100 }}"
                             aria-valuemin="0"
                             aria-valuemax="100">
                            {{ id/10*100 }}%
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a class="btn btn-primary float-left {% if id == 1 %}disabled{% endif %}"
                       href="{{ path('classroom_lesson', {'id':id-1}) }}">Previous
                    </a>

                    {% if id == 3 %}
                        <a class="btn btn-primary float-right"
                           href="{{ path('classroom_quiz') }}">Take the test!</a>
                    {% else %}
                        <a class="btn btn-primary float-right"
                           href="{{ path('classroom_lesson', {'id':id+1}) }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


